h1 {
  text-align: center;
}
#color-palette {
  width: 100%;
  height: 100px;
  left: 280px;
}

.color {
  display: inline-block;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 5px;
}

#black {
background-color: black;
}

#blue {
background-color: rgb(0, 142, 213);
}

#red {
background-color: red;
}

#green {
background-color: rgb(91, 193, 91);
}